<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form>
    <input type="checkbox" name="order_num" value="1111" />1111
    <input type="checkbox" name="order_num" value="214326465" />214326465
    <input type="checkbox" name="order_num" value="123214365436546" />123214365436546
    <input type="button" value="提交" />
</form>

</body>
</body>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script>
    $(function(){
        var arr = [];
        $('input[type=button]').on('click',function(){
            $('input:checked').each(function(i){
                arr[i]=$(this).val();
            });
            $.ajax({
                url:'http://192.168.1.101/manager/Order/refuseOrder',
                data:{order_num:arr},
                type:'post',
                dataType:'json',
                success:function(data){
                   // console.log(data);
                }

            })
        });

    })
</script>
</html>